p{
    width: 700px;
    height: 100%;
    background-color: #eee;
    border: 1px solid #ccc;
    line-height: 2;
}
#static{
    position:static;
}
#relative-1{
    position:relative;
}
#relative-2{
    position:relative;
    left: 100px;
    top: 50px;
}
#fixed{
    width: 100px;
    height: 100px;
    background-color: #222;
    position:fixed;
    right: 30px;
    top: 30px;
}